<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>Twitter</title>
  </head>
  <body>
    <div class="home">
      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a href="{% url 'home' %}" class="navigation__link">
              <img src="{% static 'images/twitter-icon.svg' %}" width="30px" height="30px" class="navigation__icon">
            </a>
          </li>
          <li class="navigation__item">
            <a href="{% url 'home' %}" class="navigation__link">
              <img src="{% static 'images/home-icon.png' %}" width="30px" height="30px" class="navigation__icon">
              Home
            </a>
          </li>
          <li class="navigation__item">
            <a href="#" class="navigation__link">
              <img src="{% static 'images/profile-icon.png' %}" width="30px" height="30px" class="navigation__icon">
              Profile
            </a>
          </li>
        </ul>
        <button class="navigation__post">Post</button>
        
        <div class="navigation__user">
          <button class="navigation__user-btn" onclick="toggleLogout()"> 
            {{ request.session.username }}
          </button>
          <div class="navigation__logout" id="logoutMenu">
            <a href="{% url 'logout' %}" class="nav__logout-link">Log Out<a>
          </div>
        </div>

      </nav>

      <main class="feed">
        <div class="feed-header">
          <button class="feed-button active">For You</button>
          <button class="feed-button">Following</button>
        </div>
        {% block content %}
        {% endblock %}
      </main>
    </div>


  </body>
</html>
