{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <div class="create-post">
        <form method="POST" action="{% url 'create_post' %}">
            <img src="{% static 'images/profile-icon.png' %}" width="40px" height="40px" class="navigation__icon">
            <div class="posts">
                <textarea id="post-textarea" class="create-post__text" cols="50" maxlength="280" placeholder="What is happening?!" name="text"></textarea>
                <button class="create-post__button">Post</button>
            </div>
        </form>
    </div>

    <div class="posts-feed">
        {% for post in posts %}
            <div class="post">
                <div class="post__information">
                    <p><strong>{{ post.user.username }}</strong></p>
                    <p class="date">{{ post.created_at }}</p>

                </div>
                <div>
                    <p>{{ post.text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        const textarea = document.getElementById('post-textarea');

        function adjustTextareaHeight() {
            textarea.style.height = 'auto';

            textarea.style.height = textarea.scrollHeight + 'px';
        }

        textarea.addEventListener('input', adjustTextareaHeight);

        adjustTextareaHeight();
    </script>
{% endblock %}
